@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-image: url(/img/737-2880x1920.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    height: 330px;
    width: 270px;
    background: rgba(241, 229, 229, 0.5);
}

.content{
    width: 80%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.user{
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    background: rgba(211, 207, 207, 0.5);
    padding: 0 0 0 10px;
}

.pass{
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    background: rgba(211, 207, 207, 0.5);
    padding: 0 0 0 10px;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    background: #0172ff;
}






